@{
    ViewBag.Title = "Home Page";
}

<p style="font-size:28px">Учет расхода электрической энергии между арендаторами торгового центра</p>

<img width="45%" height="500px" src="~/Images/Index.jpg" style="float: left;margin-right:5px;" />
<img width="45%" height="500px"  src="~/Images/shops.jpg"/>